<div class="info-container">
  <h2>Visit <code>https://example.com</code></h2>

  <div id="online-count"></div>

  <h3>And enter the pin</h3>
  <h3><%= @pin %></h3>

  <%= button "start", to: Routes.quiz_path(@conn, :host, @quiz.id, pin: @pin), method: :get, class: "btn" %>
  
</div>

<script>
  window.onHostInfoPage = true
  window.quizPin = <%= @pin %>
</script>
